// Specific CSS for your home-page
<<<<<<< HEAD
body {
  background: white;
}
=======

.banner {
  background-image:url('https://images.unsplash.com/photo-1573246123716-6b1782bfc499?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1860&q=80');
  height: 400px;
  text-align:center;
  color:white;
  text-shadow: 1px 1px 10px black;
}

.display {
  display:flex;
  justify-content:center;
}

.marge{
  margin:10px;
}

h1 {
  font-size:66px;
  font-weight: bold;
}
>>>>>>> 6fdbf1c91304101578224064b734777a2e23e3f5
