#cart-title {
  padding: 30px 0px;
}

.product-order {
  background: #FBFBFB;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 12px #CACACA;
  height: 140px;
  margin-top: 10px;
  display: flex;
}

.product-name-order {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.product-price-order {
  font-weight: 600;
  position: absolute;
  top: 38px;
}

.block-components{
  position: relative;
  left: 10px;
  bottom: 8px;
}

.product-order .fa-trash {
  position: absolute;
  right: 35px;
}

.pay-order {
  background: #FBFBFB;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 12px #CACACA;
  height: 150px;
  width: 350px;
  margin-top: 10px;
  position: absolute;
}

.total {
  display: flex;
  justify-content: space-between;
  position: relative
}

.button-cart {
  padding-top: 20px;
  padding-bottom: 30px;
}

.pay-order .btn-success {
  width: 88.5%;
  position: absolute;
  bottom: 15px;
}

.img-order {
  object-fit: cover;
  width: 103px;
  height: 103px;
  box-shadow: 2px 2px 12px #D8D8D8;
}
