

<div class="banner">
<h1>FRUITPLACE</h1>
<h3>Quel est le fruit le plus végétarien ?</h3>
<p>C’est la « pas steak » !</p>

<div class="display">
  <div class="marge">
<p>
  <%= link_to 'My Products', my_products_path, :class => "btn btn-primary" %>
</p>
  </div>
  <div class="marge">
<p>
  <%= link_to 'Products', products_path, :class => "btn btn-primary" %>
</p>
</div>
</div>
</div>
