.buttons-home {
  display:flex;
  justify-content:center;
}

.button-home{
  margin:10px;
}

.btn-success {
  padding: 10px 30px;
  border-radius: 4px;
}

.btn-add {
  margin-top: 20px;
}

.form-actions {
  padding-bottom: 20px;
}

.btn-primary {
  background:#ff6a32;
  border:none;
}
.btn-primary:hover {
  background:#ff5719;
  box-shadow: inset 400px 0 0 0 #FF4500;
}