// .slide-right {
//   position: absolute;
//   -webkit-animation: slide 0.5s forwards;
//   -webkit-animation-delay: 2s;
//   animation: slide 3s forwards;
//   animation-delay: 2s;
// }

// body {
//   overflow-x: hidden;
// }

// @-webkit-keyframes slide {
//   from {
//     margin-left: 75%;
//     width: 5%;
//   }
//   to {
//     margin-left: 20%;
//     width: 5%;
//   }
// }


.wrapper {
  position: relative;
  overflow: hidden;
}

.slide-left {
  position: absolute;
  left: -600px;
}

.slide-right {
  position: absolute;
  right: -600px;
}

@-webkit-keyframes slide-left {
  100% { left: 200px; }
}

@keyframes slide-left {
  100% { left: 200px; }
}

@-webkit-keyframes slide-right {
  100% { right: 200px; }
}

@keyframes slide-right {
  100% { right: 200px; }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
.cards-home {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px !important;
  height: 450px;
}

.slide-animation {
  &:hover{

    .slide-right {
      -webkit-animation: slide-right 0.5s forwards;
      -webkit-animation-delay: 0.5s;
      animation: slide-right 0.5s forwards;
      animation-delay: 0.5s;
    };
    .slide-left {
      -webkit-animation: slide-left 0.5s forwards;
      -webkit-animation-delay: 0.5s;
      animation: slide-left 0.5s forwards;
      animation-delay: 0.5s;
    }
  }
}


.card-home {
  text-align: center;
  box-shadow: 2px 2px 12px #B1B1B1 ;
  border-radius: 4px;
  height: 360px;
  width: 300px;
  padding: 20px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.02);
  }
}

  .cards-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    justify-content: space-evenly;
    margin: 80px 0px;
  }

  .card-products h4 {
    text-transform: capitalize;
  }

  .card-products {
    text-align: center;
    box-shadow: 2px 2px 12px #B1B1B1 ;
    border-radius: 4px;
    height: 240px;
    width: 200px;
    position:relative;
    padding: 0px;
    background:white;
    transition: 0.2s;
    &:hover {
      transform: scale(1.02);
    }
}
.card-products .btn {
  padding: 6px 5px;
  border-radius: 4px;
  top:65px;
  left:26px;
  visibility: hidden;
  position:absolute
}
.card-home .btn {
  margin-top: 25px;
  padding: 6px 30px;
  border-radius: 4px;
  background:#FF4500;
}
.card-img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  &:hover {
    opacity: 0.9;
  }
}
.card-price p {
  color:#FF4500;
  font-size:20px;
  font-family: 'Nunito', sans-serif;
}
.card-img-product {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  &:hover {
    opacity: 0.4;
  }
}
.card-products:hover .btn{
    visibility: visible;
    opacity:1;
    left:13px;
}
.card-products:hover .btn a {
  text-decoration:none;
  color:white;
}
@media(max-width: 1100px) {
  .cards-products {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 570px) {
  .cards-products {
    grid-template-columns: 1fr;
  }
}
.card-form {
  background: white;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 2px 2px 12px #E5E5E5;
}
