.navbar {
  justify-content: space-evenly;
}

.navbar li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
}

li a {
  color: black;
  margin-top: 7px;
  &:hover {
    color: grey
  }
}

.nav-item .dropdown {
  margin-left: 100px;
}